@model GetByIdProductDto

@{
    ViewData["Title"] = "EditProduct";
    Layout = "~/Views/AdminLayout/AdminLayout.cshtml";
}

<div class="col-12 col-md-12 col-lg-12">
    <div class="card">
        <div class="card-body">
            <div class="section-title">Güncelleme İşlemi</div>
            <div class="table-responsive">
                <form asp-controller="Admin" asp-action="UpdateProduct" method="post">
                    <input type="hidden" asp-for="ProductId" />
                    <label asp-for="Name">Ad</label>
                    <input type="text" class="form-control" asp-for="Name" />
                    <br />
                    <label asp-for="Description">Açıklama</label>
                    <input type="text" class="form-control" asp-for="Description" />
                    <br />
                    <label asp-for="Price">Fiyat</label>
                    <input type="text" class="form-control" asp-for="Price" />
                    <br />
                    <label asp-for="ImageUrl">ImageUrl</label>
                    <input type="text" class="form-control" asp-for="ImageUrl" />
                    <br />
                    <label asp-for="CategoryId">Category</label>
                    @Html.DropDownListFor(x => x.CategoryId, (IEnumerable<SelectListItem>)ViewBag.CategoryList, new { @class = "form-control" })
                    <br />
                    <button type="submit" class="btn btn-primary">Güncelle</button>
                    <a asp-controller="Admin" asp-action="ProductList" class="btn btn-danger">Geri</a>
                </form>
            </div>
        </div>
    </div>
</div>

